{% extends "layout.html" %}
{% block content %}

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />

        <!-- <div class="jumbotron jumbotron-fluid"> -->
        <div class="container container-fluid">
            <div class="container">
                <h1 class="text-center display-4">Bubble Tea Shop Finder</h1>
                <hr class="my-4">
                <!--
                <h1 class="text-center display-4"><small class="text-muted">Portfolio</small></h1>
                -->
            <div>
        </div>
            <div class="container">
                <img src="static/drink.jpg" id="cover" class="img-fluid" alt="responsive image">
            <div>
{% endblock %}
