<!doctype html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />

        <!-- 404 error on csa. need to copy and pase  
        <link rel="stylesheet" type="text/css" href="./main.css">
        -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <title>Bubble Tea Shop Finder</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <nav class="navbar navbar-dark sticky-top bg-dark">
            <div class="navbar-expand">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item activ">
                        <a class="nav-link" href="{{ url_for('index') }}"> Home </a>
                    </li>
                    <li class="nav-item activ">
                        <a class="nav-link" href="{{ url_for('add') }}">Add Shop</a>
                    </li>
                    <li class="nav-item activ">
                        <a class="nav-link" href="{{ url_for('list') }}">View Locations</a>
                    </li>
                </ul>
            </div>
        </nav>


        <div class=page>
            {% block content %}{% endblock %}
        </div>
    </body>

</html>
