{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />

<h1 class="text-center display-4">Add Bubble Tea Shop Location</h1>
<hr class="my-4">

<form action="{{ url_for('new') }}" method=post>
  <div class="form-group">
    <label for="nameInput">Name:</label>
    <input type=text name=name class="form-control" id="nameInput">
  </div>

  <div class="form-group">
    <label for="addressInput">Stree Address</label>
    <input type=text name=address class="form-control" id="addressInput">
  </div>

  <div class="form-group">
    <label for="cityInput">City:</label>
    <input type=text name=city class="form-control" id="cityInput">
  </div>

  <div class="form-group">
    <label for="StateInput">State:</label>
    <input class="form-control" id="cityInput" type=text name=state>
  </div>

  <div class="form-group">
    <label for="zipInput">Zip Code:</label>
    <input class="form-control" id="zipInput" type=text name=zip>
  </div>

  <div class="form-group">
    <label for="hoursInput">Hours:</label>
    <input class="form-control" id="HoursInput" type=text name=hours>
  </div>

  <div class="form-group">
    <label for="phoneInput">Phone Number:</label>
    <input class="form-control" id="phoneInput" type=text name=phone>
  </div>

  <div class="form-group">
    <label for="ratingInput">Rating:</label>
    <input class="form-control" id="RatingInput" type=text name=rating>
  </div>

  <div class="form-group">
    <label for="reviewInput">Review:</label>
    <!-- <input class="form-control" id="reviewInput" type=text name=review> -->
    <textarea class="form-control" id="reviewInput" rows="3" type=text name=review></textarea>
  </div>


  <button type="submit" value="Add" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
