{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />

    <h1 class="text-center display-4">Bubble Tea Shop Locations</h1>

    {% for entry in entries %}
        <!-- <p class=entry> -->
        <p class="entry lead">
            {{ entry['name']}}
            <br>{{ entry['address'] }}
            <br>{{ entry['city'] }}, {{ entry['state'] }} {{ entry['zipCode'] }}
            <br>Hours: {{ entry['hours'] }}
            <br>Phone: {{ entry['phone'] }}
            <br>Rating:{{ entry['rating']}}
            <br>Review: {{ entry['review'] }}
        </p>
    {% endfor %}

{% endblock %}
