{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />

    <h1 class="text-center display-4">Accessible Image List</h1>

    {% for entry in entries %}
    <!-- <p class=entry> -->
    <p class="entry lead">
        <img src= "{{ entry['publicURL'] }}" alt="{{ entry['labelDetection'] }} text: {{ entry['textDetection'] }}" > 
        <br>URL: {{ entry['publicURL'] }}
        <br>Text: {{ entry['textDetection'] }}
        <br>Labels: {{ entry['labelDetection'] }}
        <br>img Tag: {{ entry['imgTag'] }}
    </p>
    {% endfor %}

{% endblock %}
