
{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />

<h1 class="text-center display-4">Upload A New Image</h1>
<hr class="my-4">

<form action="{{ url_for('processimage') }}" enctype=multipart/form-data method=post>
  <div class="form-group">
    <label for="fileInput">Upload an image file to create a new accessible photo to share with others.</label>
    <!-- <input type=text name=filePath class="form-control" id="fileInput"> -->
    <input type=file name=filePath class="form-control-file" id="fileInput">
  </div>

  <button type="submit" value="Add" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
